.post {
  padding: 0.5em;
  border-bottom: 1px solid #363636;
}
.post:last-child {
  border-bottom: none;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.title p {
  margin-left: 1em;
  font-size: 0.8em;
  color: #71767b;
}

.post h2 {
  font-size: 1em;
}

.body {
  margin-left: 2em;
}
